extends layout 

block main 
  form(action="/flights" method="post")
    dl 
      dt 
        label(for="FlightTitle") Enter the title for your new flight: 
      dd 
        input(type="text"
              id="FlightTitle"
              name="FlightTitle"
              placeholder="Destination"
             value=FlightTitle)
        
    fieldset.actions 
      input(type="submit" value="Save")
      a(href="/flights") Cancel